<STYLE type=text/css>

body { 
	 text-align: center; 
	 background-color:#CCFFFF;
} 
table {
	font-size: 12px;
	font-family: tahoma, helvetica;
	border-collapse: collapse;
}
td {
	border: 1pt solid #000033;
	padding: 5px;
}
div.log {
	font-size: 12px;
	font-family: monospace;
	border: 1pt solid #000033;
	padding: 5px;
	background-color: #000000;
	color: #FFCC00;
	text-align: left;
	width: 90%;
}
span.mainlog {
}
span.debuglog {
	color: #999999;
}
span.syslog {
	color: #00FF00;
}
tr {
	font-family: tahoma, helvetica;
	color: #000000;
}
tr.statsheadline {
	background-color: #999999;
	color: #000000;
}
tr.statsserver {
	background-color: #000000;
	color: #FFFFFF;
}
tr.statsproxy {
	background-color: #003300;
	color: #FFFFFF;
}
tr.statsreader {
	background-color: #003300;
	color: #FFFFFF;
}
tr.statsmonitor {
	background-color: #FFCC33;
	color: #000000;
}
tr.statsclient {
	background-color: #660000;
	color: #FFFFFF;
}
tr.buttonbar {
	background-color: #CC3300;
	color: #FFFFFF;
	border: 1pt outset #000033;
}
tr.headline {
	background-color: #999999;
	color: #000000;
}
tr.macroused {
	background-color: #996600;
	color: #FFFFFF;
}
tr.macroused a:hover {
	color: #FFCC33;
}
tr.macroused a {
	color: #FFFFFF;
}
tr.macrounused {
	background-color: #996633;
	color: #999999;
}
td.clientdetailscell
{
	background-color: #FFCC33;
	color: #000000;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
a.clientdetails
{
	text-decoration: none;
	color: #000000;
}
a.clientdetails:visited
{
	text-decoration: none;
	color: #000000;
}
div.footline {
	font-size: 12px;
	font-family: monospace;
	text-align: center;
	color: #000066;
	border: 1pt outset #000033;
	width: 80%;
	height: 24px;
	vertical-align: middle;
}
#countDownText {
     top: 5px;
     left: 5px;
     position:absolute;


}
img{
    vertical-align: middle;
}
</STYLE>

<script language="JavaScript"> 
<!-- 
var countDownInterval=15; 
var countDownTime=countDownInterval; 

function countDown() 
{ 
    --countDownTime; 
    if (countDownTime < 0) 
    { 
        countDownTime=countDownInterval; 
    } 
    document.all.countDownText.innerText = countDownTime; 
    setTimeout("countDown()", 1000); 
    if (countDownTime == 0) 
    { 
        location.reload(); 
    } 
} 
// --> 
</script>  
